# Supabase Credentials
VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SECRET_KEY=your_service_role_key

# Resend Email APIKey (https://resend.com)
RESEND_API_KEY=re_your_key_here
SENDER_EMAIL="recruitment@erise-scientific-club.site"
REPLY_TO_EMAIL=erise.club@gmail.com
